syntax: glob

.vs/
bin/
*.orig
*.obj
*/obj/*
*.pdb
*.pch
*.asm
*.CopyComplete
packages/*
Thumbs.db
*.cache
*.log
*.tlog
_Resources/
*.VC.db
*.user
/SupremacyCore/Combat/AutomatedCombatEngine0624.cs
SupremacyCore/Combat/AutomatedCombatEngine0625.cs
SupremacyCore/Combat/AutomatedCombatEngine0626.cs
SupremacyCore/Combat/CombatUpdate0626.cs
SupremacyClient/CombatWindow.xaml0704.cs
SupremacyClient/CombatWindow.xamlCURRENT5.cs
SupremacyCore/Combat/AutomatedCombatEngine CURRENT5.cs
SupremacyCore/Combat/AutomatedCombatEngine0704.cs
SupremacyCore/Combat/CombatEngine0704.cs
SupremacyCore/Combat/CombatEngineCURRENT5.cs
SupremacyCore/Combat/CombatHelper0703.cs
SupremacyCore/Combat/CombatHelperCURRENT5.cs
SupremacyCore/Combat/CombatUpdate0704.cs
SupremacyCore/Combat/CombatUpdateCURRENT5.cs
SupremacyService/SupremacyService0704.cs
SupremacyService/SupremacyServiceCURRENT5.cs
SupremacyClient/CombatWindow.xamlCURRENT5 - Copy.cs
SupremacyCore/Combat/CombatWindow.xamlCURRENT5.cs
SupremacyCore/Combat/SupremacyServiceCURRENT5.cs
SupremacyCore/Combat/AutomatedCombatEngine - Copy (2).cs
SupremacyCore/Combat/0709.cs
/New/Balance_Shipyards.xml
/New/Balance_Stations - ExportStations.xml
/New/Balance_Stations.xml
/Stations
/SupremacyCore/Combat/CombatEngine.cs.bak
/SupremacyCore/Combat/AutomatedCombatEngine.cs.bak
New/Colony.cs
SupremacyCore/Universe/Colony.cs.bak
New folder/AutomatedCombatEngine.cs
New folder/TechObjectDatabase.xml
New folder/TextDatabase.xml
