David William Richmond Davies-Jones <david@exultantmonkey.co.uk> David William Richmond Davies-Jones <33752261+ExultantMonkey@users.noreply.github.com>
Kenneth Flanagan <kenneth.of.borg@googlemail.com> Kenneth Of Borg <kenneth.of.borg@gmail.com>
Reginald <bote-reginald@gmx.de> bote-reginald <wiki-birth-of-the-empires@gmx-topmail.de>