<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Supremacy.Properties.Settings.TextConnectionString"
            connectionString="Data Source=|DataDirectory|\Resources\Data\Text.sdf" />
        <add name="Supremacy.Properties.Settings.SupremacyDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\Resources\Data\SupremacyDatabase.sdf" />
    </connectionStrings>
  <system.net>
    <webRequestModules>
      <add prefix="vfs" type="Supremacy.VFS.VfsWebRequestFactory, SupremacyCore"/>
    </webRequestModules>
  </system.net>
</configuration>