<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings />
  <system.net>
    <webRequestModules>
      <add prefix="vfs" type="Supremacy.VFS.VfsWebRequestFactory, SupremacyCore"/>
    </webRequestModules>
  </system.net>
 </configuration>

